body {
	font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
	font-size: 14px;
	background: #ccc;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	margin-bottom: 5px;
}

a {
	color: #4060EE;
}

a:hover {
	color: #FF0000;
}

img {
	border-style: none;
}

img.five {
	width: 204px;
}

img.bsdf {
	/*width: 204px;*/
	height: 204px;
}
img.bsdf2 {
	/*width: 204px;*/
	height: 408px;
}
img.pdf {
	/*width: 204px;*/
	height: 150px;
}
img.pdflobe {
	/*width: 204px;*/
	height: 250px;
}
img.uni-bi {
	width: 400px;
	/*height: 250px;*/
}


td {
	font-size: 14px;
	text-align: center;
	vertical-align: top;
}

table {
	margin: 0px auto;
}

div.wrap {
	width: 1050px;
	margin: 0 auto 0 auto;
	border: 1px #aaa solid;
	padding: 15px 25px 10px 25px;
	background: #fff;
}

div.box {
	margin: 0 auto;
	padding: 8px;
	background: #e0e0e0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #999999;
	text-align: center;
}

div.subtitle {
	margin: 0;
	font-size: 20px;
    font-weight: bold;
	padding: 10px 0 2px 0;
    margin: 30px 0 18px 0;
    border-bottom: solid #000;
}

div#menu {
	position: fixed;
	z-index: 2;
	
    top: 80px;
    margin-left: -171px;	
	padding: 0;
	
	font-size: 14px;
	text-align: right;
}

div#menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

div#menu li {
	padding: 0;
	margin: 0;
}

div#menu a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	
	width: 125px;
	padding: 5px 15px 5px 5px;
	margin: 3px 0 3px 0;
	background-color: #444;
	color: #fff;
}

div#menu a:hover {
	background-color: #a00000;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
th {
    text-align: left;
}    